// Ribbon
@mixin ribbon( $ribbon-color:black, $size-left:1em, $size-right:1em) {
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
    }
    &:before {
        border-bottom: $size-left solid $ribbon-color;
        top: -15px;
        border-left: $size-left solid transparent;
        left: 0;
    }
    &:after {
		width: 0;
		border-top: 22px solid transparent;
		border-left: 40px solid $ribbon-color;
		border-bottom: 20px solid transparent;
		display: inline-block;
		padding: 0;
		margin: 0;
		position: absolute;
		float: right;
		top: 0;
		margin-left: 0;
		transform: scaleX(.5);
    }
}

.ribbon-container {
    display: inline-block;
    height: 40px;
    width: max-content;
    text-align: center;
    padding: 10px;
    background: $pink;
    left: -1em;
    top: -14em;
	
	&.ribbon-green {
		background: $green;
	}
	
	&.ribbon-pink {
		background: $pink;
	}
	
	&.ribbon-cyan {
		background: $cyan;
	}
	
	&.ribbon-yellow {
		background: $yellow;
	}

	
}

.blog-category {
	@include ribbon($pink, 1em, 0);
	 
	&.ribbon-pink {
		@include ribbon($pink, 1em, 0);
	}
	
	&.ribbon-yellow {
		@include ribbon($yellow, 1em, 0);
	}
	
	&.ribbon-cyan {
		@include ribbon($cyan, 1em, 0);
	}
	
	&.ribbon-green {
		@include ribbon($green, 1em, 0);
	}
	 

	a {
		color: $navy;
		@include _dm-sans-bold
	}

	
}

.blog-card-container {
	display: flex;
	flex-direction: column-reverse;
	margin: 1rem 0;
	flex-wrap: wrap;
	height: auto;
	color: $navy;
	
	@include respond-to ('lg') {
		flex-direction: row;
		height: 350px;
	}
		
	&.light-grey {
		background-color: $light-grey;
	}
	
	&.white {
		background-color: white;
	}
}

.blog-card-left {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	justify-content: center;
	@include respond-to ('lg') {
		flex-basis: 60%;
	}
}

.blog-card-right {
	flex-basis: 100%;
	height: 100%;
	width: 100%;
	@include respond-to ('lg') {
		flex-basis: 40%;
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;			
	}
}

.blog-card-info {
	padding: 0rem 2rem 3rem 2rem;
	@include respond-to ('lg') {
		padding: 0 0 0 2rem;
	}

	.blog-title {
		color: $navy;
		max-height: 100px;
		overflow: hidden;
		display: inline-block;
		@include respond-to ('lg') {
			max-height: 80px;
		}
	}
	.blog-author {
		padding: 0 0 1rem 0;
	}			
}
