.downloads-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	@include respond-to ('md') {
		flex-direction: row;
		align-items: flex-start;
	}
}

.download-card-container {
	height: 300px;
	width: 200px;
	position: relative;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.33);
	margin: 0 0 4rem 0;
	@include respond-to ('md') {
		margin: 0 6rem 4rem 0;
	}
	@include respond-to ('lg') {
		margin: 0 7rem 4rem 0;
	}
	a:hover {
		.download-card-ribbon {
			height: 50px;
			transition: height 0.5s;
		}
	}
} 

.download-card-header {
	position: absolute;
	width: 100%;
	height: 100%;
	clip-path: polygon(0 0, 100% 0%, 100% 38%, 0 43%);
	padding: 1.5rem 1rem;
	text-align: center;
	color: $navy;
	
	h3 {
		font-size: 1.2rem;
		max-height: 70px;
		overflow: hidden;
	}
	
	&.yellow {
		background-color: $yellow;
	}
	&.green {
		background-color: $green;
	}
	&.cyan {
		background-color: $cyan;
	}
	&.pink {
		background-color: $pink;
	}
}


.download-card-img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.ribbon-wrapper {
	filter: drop-shadow(2px 2px 1px #bebebe);
}

.download-card-ribbon {
	height: 30px;
	width: 30px;
	clip-path: polygon(100% 0, 100% 100%, 50% 74%, 0 100%, 0% 0%);
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.33);
	margin-left: 1rem;
	transition: height 0.5s;
	&.yellow {
		background-color: $yellow;
	}
	&.green {
		background-color: $green;
	}
	&.cyan {
		background-color: $cyan;
	}
	&.pink {
		background-color: $pink;
	}
}