.iee_archive {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	@include respond-to("lg") {
		flex-direction: row;
	}
}

.iee_archive .archive-event .iee_event {
	height:  174px;
}

.iee_archive .iee_event .event_details {
	height: 120px;
}

.iee_archive .iee_event .img_placeholder {
	height:  100%;
	background-position: center !important;
}

.iee_archive .iee_event .event_date {
	display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.iee_archive .iee_event .event_desc .event_title {
	white-space: normal;
}

.iee_archive .iee_event .event_desc {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;	
}

.iee_archive .iee_event .img_placeholder {
	background-size: contain !important;
	background-color: #211f5c !important;
	min-height: 220px;
	@include respond-to('md') {
		min-height: 400px;
	}
	@include respond-to('lg') {
		min-height:175px;
	}
}