.eventbrite_events {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5); 
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	padding: 0;
}

.iee_archive {
	display: flex;
	flex-direction: column;

	@include respond-to("lg") {
		flex-direction: row;
	}
}

.iee_archive .archive-event .iee_event {
	height:  300px;
}

.iee_archive .iee_event .img_placeholder {
	height:  100%;
	background-position: center !important;
}