@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'dm-sans-regular';
    src: url('../fonts/DMSans-Regular.ttf');
}

@font-face {
    font-family: 'dm-sans-bold';
    src: url('../fonts/DMSans-Bold.ttf');
}

@font-face {
    font-family: 'permanent-marker';
    src: url('../fonts/PermanentMarker-Regular.ttf');
}