@mixin _dm-sans-regular {
	font-family: 'dm-sans-regular';
}

@mixin _dm-sans-bold {
	font-family: 'dm-sans-bold';	
}

@mixin color-scheme-link($color) {
	p, span {
		a {
		  color: inherit;
		  background:
		     linear-gradient(
		       to bottom, $color 0%,
		       $color 100%
		     );
		  background-position: 0 100%;
		  background-repeat: repeat-x;
		  background-size: 4px 4px;
		  text-decoration: none;
		  transition: background-size .75s ease, color .75s;
		  &:hover {
		  	background-size: 4px 50px;
		  	color: $navy;
		  	transition: background-size .75s ease, color .75s;
		  }     
		}
	}
}

.color-scheme-pink {
	@include color-scheme-link($pink);
}

.color-scheme-cyan {
	@include color-scheme-link($cyan);
}

.color-scheme-green {
	@include color-scheme-link($green);
}

.color-scheme-yellow {
	@include color-scheme-link($yellow);
}

$line-height: 2em;

a {
	font-family: inherit;
	color: $navy;
	text-decoration: none;
	&:hover {
		color: inherit;
	}
}

b, strong {
	@include _dm-sans-bold;
}

p, li:not(.menu-item) {
	@include _dm-sans-regular;
	font-size: 1rem;
	line-height: $line-height;
}

h1, h2, h3, h4, h5, h6, blockquote {
	@include _dm-sans-bold;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
}

h1 {
	font-size: 1.5rem;
	@include respond-to ('lg') {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 1.4rem;
	@include respond-to ('lg') {
		font-size: 2rem;
	}	
}

h3 {
	font-size: 1.25rem;
	@include respond-to ('lg') {
		font-size: 1.75rem;
	}	
}


