@mixin _dm-sans-regular {
	font-family: 'dm-sans-regular';
}

@mixin _dm-sans-bold {
	font-family: 'dm-sans-bold';	
}

$line-height: 2em;

a {
	color: $pink;
	@include _dm-sans-regular;
	&:hover {
		color: inherit;
	}
}

b, strong {
	@include _dm-sans-bold;
}

p, li:not(.menu-item) {
	@include _dm-sans-regular;
	font-size: 1rem;
	line-height: $line-height;
}

h1, h2, h3, h4, h5, h6, blockquote {
	@include _dm-sans-bold;
}

h1 {
	font-size: 1.5rem;
	@include respond-to ('lg') {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 1.4rem;
	@include respond-to ('lg') {
		font-size: 2rem;
	}	
}