$mobile-hero-height: 50vh;
$desktop-hero-height: 100vh;

.hero {
	height: $mobile-hero-height;
	background-size: cover;
	width: 100%;
	@include respond-to ('lg') {
		height: $desktop-hero-height;
	}
	&.small {
		@include respond-to ('lg') {
			height: 70vh;
		}
	}
}

.hero-filter {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: $mobile-hero-height;
	position: absolute;
	text-align: center;
	
	@include respond-to ('lg') {
		height: $desktop-hero-height;
	}
	
	h1 {
		margin: 3rem 1rem 2rem 1rem;
		@include respond-to ('lg') {
			margin: 0 3rem 3rem 3rem;
		}
	}
	
	&.none {
		@include none;
	}
	&.darken {
		@include darken;
	}
	&.light-radial {
		@include light-radial;
	}
	&.dark-radial {
		@include dark-radial;
	}
	&.small {
		@include respond-to ('lg') {
			height: 70vh;
		}
	}
}

.hero-standfirst {
	text-align: center;
	padding: 2rem 0;
	h3 {
		padding: 1rem;
	}
	h1 {
		color: white;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		display: inline;
		padding: 0 1rem;
		&.our-work {
			background-image: url('../assets/graphics/title-our-work-pink.svg');
		}
		&.content {
			background-image: url('../assets/graphics/title-content-pink.svg');
		}
		&.experience {
			background-image: url('../assets/graphics/title-experience-pink.svg');
		}
		&.identity {
			background-image: url('../assets/graphics/title-identity-pink.svg');
		}
	}
}