$mobile-hero-height: 50vh;
$desktop-hero-height: 100vh;

.hero {
	height: $mobile-hero-height;
	background-size: cover;
	width: 100%;
	@include respond-to ('md') {
		height: $desktop-hero-height;
	}
	&.small {
		@include respond-to ('md') {
			height: 70vh;
		}
	}
}

.hero-filter {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: $mobile-hero-height;
	position: absolute;
	text-align: center;
	@include respond-to ('md') {
		height: $desktop-hero-height;
	}
	h1 {
		margin-bottom: 2rem;
		font-size: 2rem;
		margin-top: 3rem;
		@include respond-to ('md') {
			margin: 0 3rem 3rem 3rem;
			font-size: 2.5rem;
		}
	}
	&.none {
		background: transparent;
	}
	&.darken {
		background-color: rgba(0, 0, 0, 0.2);
		h1, p {
			color: white;
		}
	}
	&.light-radial {
		background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(230,230,230,0) 100%); 
		h1, p {
			color: $navy;
		}
	}
	&.dark-radial {
		background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(230,230,230,0) 100%);
		h1, p {
			color: white;
		}
	}
	&.small {
		@include respond-to ('md') {
			height: 70vh;
		}
	}
}

.hero-standfirst {
	text-align: center;
	padding: 2rem 0;
	h3 {
		padding: 1rem;
	}
	h1 {
		color: white;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		display: inline;
		padding: 0 1rem;
		&.our-work {
			background-image: url('../assets/graphics/title-our-work-pink.svg');
		}
		&.content {
			background-image: url('../assets/graphics/title-content-pink.svg');
			font-size: 1.5rem;
			@include respond-to ('md') {
				font-size: 2rem;
			}
		}
	}
}