button:focus {
	outline: none;
}

#mega-menu {
	background-color: $light-grey;
	padding: 0 2rem 2rem 2rem;
	@include respond-to('md') {
		padding: 0 9rem 3rem 9rem;
	}
	a {
		color: $navy;
	}
}

.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include respond-to('md') {
		flex-direction: row;	
	}
	&-right {
		padding: 2rem;
		text-align: center;
		
		@include respond-to('md') {
			padding: 3rem 5rem;	
		}
		
		a:hover {
			text-decoration: none;
		}
	}
}



#main-nav {
	background-color: transparent;
	transition: background-color 0.5s linear;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
	z-index: 99;
	@include respond-to('md') {
		padding: 1rem 7.5rem;
	}
}

.nav-link {
	padding: .3rem 0;
}

.menu  {
	padding: 0;
	li {
		list-style: none;
		height: 35px;
		a {
		color: $navy;
		font-size: 1.2rem;
		@include _dm-sans-bold;
		
			&:after {
				content: "";
				display: block;
				height: 5px;
			}
		
			&:hover {
				text-decoration: none;
				&:after {
				    content: "";
				    background-repeat: no-repeat;	
				}
			}
		}	
	}
}

@mixin underline-hover {
	display: block;
	height: 5px;
	background-position: left;
	width: 30%;	
}

@mixin arrow-hover {
	display: inline-block;
	height: 15px;
	background-position: center;
	width: 50px;
}


// CYAN ARROW
#main-menu-cyan {
	li > a {
		&:hover {
			&:after {
				@include arrow-hover;
				background-image: url("../assets/graphics/arrow-menu-mini-cyan.png");
			}
		}
	}
}

// GREEN ARROW
#main-menu-green {
	li > a {
		&:hover {
			&:after {
				@include arrow-hover;
				background-image: url("../assets/graphics/arrow-menu-mini-green.png");
			}
		}
	}
}

// PINK ARROW
#main-menu-pink {
	li > a {
		&:hover {
			&:after {
				@include arrow-hover;
				background-image: url("../assets/graphics/arrow-menu-mini-pink.png");
			}
		}
	}
}

// YELLOW ARROW
#main-menu-yellow {
	li > a {
		&:hover {
			&:after {
				@include arrow-hover;
				background-image: url("../assets/graphics/arrow-menu-mini-yellow.png");
			}
		}
	}
}

// CYAN UNDERLINE
#secondary-menu-cyan {
	li > a {
		&:hover {
			&:after {
				@include underline-hover;
				background-image: url("../assets/graphics/underline-menu-cyan.png");
			}
		}
	}
}

// GREEN UNDERLINE
#secondary-menu-green {
	li > a {
		&:hover {
			&:after {
				@include underline-hover;
				background-image: url("../assets/graphics/underline-menu-green.png");
			}
		}
	}
}

// PINK UNDERLINE
#secondary-menu-pink {
	li > a {
		&:hover {
			&:after {
				@include underline-hover;
				background-image: url("../assets/graphics/underline-menu-pink.png");
			}
		}
	}
}

// YELLOW UNDERLINE
#secondary-menu-yellow {
	li > a {
		&:hover {
			&:after {
				@include underline-hover;
				background-image: url("../assets/graphics/underline-menu-yellow.png");
			}
		}
	}
}

// MENU BURGER
.menu-burger, .menu-close {
	width: 75px;
}

.hamburger, .close-menu {
	border: 0;
	background-color: transparent;
}

// LOGO

.logo {
	width: 200px;	
}

.logo-mini {
	width: 90px;
}

// HEADER INFO
.header-info {
	margin: 2rem 0;
	a:hover {
		text-decoration: none;
	}
}


// SOCIAL MEDIA
.header-social-media {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 130px;
	a {
		&:hover {
			text-decoration: none;
		}
		img {
			height: 40px;
			width: 40px;
			object-fit: contain;
			padding: 0 0.6rem;
			&:hover {
				filter: brightness(0) invert(1);
			}
		}
	}
}

/*-- MENU HIGHLIGHT --*/
.menu-highlight-icon {
	padding: 2rem;
	width: 200px;
	height: 200px;
	object-fit: contain;
}

.menu-highlight-arrow {
	width: 100px;
	&:hover {
		transform:scale(1.2);
	}
}