// NAV
nav {
	&.white_fade {
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	}
	&.fixed {
		position: fixed;
	}
	&.relative {
		position: relative;
	}
	&.absolute {
		position: absolute;
	}
}


// HAMBURGER
button:focus {
	outline: none;
}


// MEGA MENU
#mega-menu {
	display: none;
	background-color: $light-grey;
	padding: 1rem;
	@include respond-to('lg') {
		padding: 1rem 7.5rem;
	}
	
	a {
		color: $navy;
	}
}

.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	@include respond-to('md') {
		flex-direction: row;	
	}
	
	&-left {
		flex-basis: 22%;
	}
	
	&-center {
		flex-basis: 48%;
	}
	
	&-right {
		flex-basis: 20%;
	}
}

#main-nav {
	background-color: transparent;
	transition: background-color 0.5s linear;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
	z-index: 99;
	
	.container {
		padding: 1rem;
		@include respond-to('lg') {
			padding: 0rem 7.5rem;
		}		
	}
}

.nav-link {
	padding: .3rem 0;
}

@mixin menu-icon($image_url) {
	.menu-icon {
		content: url($image_url);
		width: 25px;
		height: 25px;		
		margin-right: 1rem;	
	}
	
}

.work {
	@include menu-icon('../assets/menu/menu-work.svg');
}

.content {
	@include menu-icon('../assets/menu/menu-content.svg');
}

.identity {
	@include menu-icon('../assets/menu/menu-identity.svg');
}

.experience {
	@include menu-icon('../assets/menu/menu-experience.svg');
}

.workshops {
	@include menu-icon('../assets/menu/menu-workshops.svg');
}

.menu  {
	padding: 0;
	li {
		list-style: none;
		height: 50px;
		a {
		display: flex;
		color: $navy;
		font-size: 1.2rem;
		@include _dm-sans-bold;
		
			&:after {
				content: "";
				display: block;
				height: 5px;
			}
		
			&:hover {
				text-decoration: none;
				&:after {
				    content: "";
				    background-repeat: no-repeat;	
				}
			}
		}	
	}
}

@mixin underline-hover($underline_image) {
	li > a {
		position: relative;
		width: max-content;
		&:hover {
			&:after {
				position: absolute;
				display: block;
				height: 100%;
				background-position: bottom left;
				background-size: contain;
				background-image:url($underline_image);
				width: 100%;
				padding-bottom: 2rem;
			}
		}
	}
}

@mixin arrow-hover($arrow_image) {
	li > a {
		align-items: center;
		&:hover {
			&:after {
				display: inline-block;
				height: 15px;
				background-position: center;
				background-image:url($arrow_image);
				width: 50px;				
			}
		}
	}
}


// CYAN ARROW
#secondary-menu-cyan {
	@include arrow-hover("../assets/graphics/arrow-menu-mini-cyan.png");
}

// GREEN ARROW
#secondary-menu-green {
	@include arrow-hover("../assets/graphics/arrow-menu-mini-green.png");
}

// PINK ARROW
#secondary-menu-pink {
	@include arrow-hover("../assets/graphics/arrow-menu-mini-pink.png");
}

// YELLOW ARROW
#secondary-menu-yellow {
	@include arrow-hover("../assets/graphics/arrow-menu-mini-yellow.png");	
}

// CYAN UNDERLINE
#main-menu-cyan {
	@include underline-hover("../assets/graphics/underline-menu-cyan.svg");
}

// GREEN UNDERLINE
#main-menu-green {
	@include underline-hover("../assets/graphics/underline-menu-green.svg");
}

// PINK UNDERLINE
#main-menu-pink {
	@include underline-hover("../assets/graphics/underline-menu-pink.png");
}

// YELLOW UNDERLINE
#main-menu-yellow {
	@include underline-hover("../assets/graphics/underline-menu-yellow.png");
}

// MENU BURGER
.menu-burger, .menu-close {
	width: 50px;
	@include respond-to('lg') {
		width: 75px;
	}
}

.hamburger, .close-menu {
	border: 0;
	background-color: transparent;
	transform: scale(1);
	transition: transform 0.3s;
	padding: 0;
	&:hover {
		filter: brightness(1);
		transform: scale(1.1);
		transition: transform 0.3s;
	}
}

.close-menu {
	display: none;
}

// LOGO

.logo {
	width: 125px;
	@include respond-to('lg') {
		width: 200px;
	}	
}

.logo-mini {
	width: 90px;
}

// HEADER INFO
.header-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2rem 0;
	align-items: baseline;
	flex-wrap: wrap;

	@include respond-to('md') {
		flex-direction: row;
	}	
	
	.header-phone-number {
		flex-basis: 100%;
		margin-bottom: 1rem;
		@include respond-to('md') {
			flex-basis: 20%;
			margin: 0;
		}

		&:hover {
			text-decoration: underline;
		}
	}
	
	.header-email {
		flex-basis: 100%;
		margin-bottom: 1rem;
		@include respond-to('md') {
			flex-basis: 50%;
			display: flex;
			justify-content: center;
			margin: 0;		
		}

		&:hover {
			text-decoration: underline;
		}			
	}
	
	.header-social-media {
		flex-basis: 100%;
		margin-bottom: 1rem;
		
		@include respond-to('md') {
			flex-basis: 30%;
			display: flex;
			justify-content: center;
			margin: 0;
		}

		a {
			transform: scale(1.0);
			transition: transform 0.2s;

			&:hover {
				text-decoration: none;
				transform: scale(0.8);
				transition: transform 0.2s;
			}
		}
	}

	a {
		h5 {
			margin: 0;
		}
	}
}


// SOCIAL MEDIA
.header-social-media {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 130px;
	a {
		img {
			height: 40px;
			width: 40px;
			object-fit: contain;
			padding: 0 0.6rem;
		}
	}
}

/*-- MENU HIGHLIGHT --*/
@mixin circle-hover($circle_image) {
	li:hover {
		background-color: #d1d1d1;
		a > strong {
			background-image: url($circle_image);
			background-repeat: no-repeat;
		    background-size: contain;
		    background-position: center;
		    display: inline;	
		}
	}	
	
}

.menu-highlight-menu-container {
	ul {
		li {
			display: flex;
			align-items: center;
			height: 100px;
		    padding: 1rem;
		    background-color: #e6e6e6;
		    margin-right: 10%;
		    margin-bottom: 1rem;	    
			a {
				display: flex;
				flex-direction: column;
				strong {
					width: max-content;
				}
				span {
					@include _dm-sans-regular;
				}
			}
		}
	}
}

#highlight-menu-cyan {
	@include circle-hover("../assets/graphics/circle-cyan-1.svg");
}

#highlight-menu-green {
	@include circle-hover("../assets/graphics/circle-green-1.svg");
}

#highlight-menu-pink {
	@include circle-hover("../assets/graphics/circle-pink-1.svg");
}

#highlight-menu-yellow {
	@include circle-hover("../assets/graphics/circle-yellow-1.svg");
}

.menu-highlight-icon {
	padding: 2rem;
	width: 200px;
	height: 200px;
	object-fit: contain;
}

.menu-highlight-arrow {
	width: 100px;
	&:hover {
		transform:scale(1.2);
	}
}