.footer {
	color: white;
	padding: 3rem;
	@include respond-to('md') {
		padding: 3rem 7.5rem;
	}
	
	.site-logo {
		width: 150px;
	}
	
	a {
		color: white;
	}
}

.footer-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
	.footer-container-left {
		display: flex;
		flex-basis: 100%;
		flex-direction: column;
		align-items: center;
		padding: 1.5rem 0;

		@include respond-to('md') {
			flex-basis: 100%;
		}

		@include respond-to('lg') {
			flex-basis: 20%;
			align-items: flex-start;
			padding: 0;
		}
	}
	
	.footer-container-center {
		display: flex;
		flex-direction: column;	
		justify-content: flex-start;
		align-items: flex-start;
		flex-basis: 100%;
		.email {
			font-size: 1rem;
			@include respond-to('md') {
				font-size: inherit;
			}
		}
		@include respond-to('md') {
			flex-basis: 40%;
		}
		@include respond-to('lg') {
			flex-basis: 60%;
			align-items: center;
		}
	}
	
	.footer-container-right {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		@include respond-to('md') {
			flex-basis: 40%;
		}
		@include respond-to('lg') {
			flex-basis: 20%;
		}
	}
}

.footer-social-media {
	padding: 2rem 0;
	display: flex;
	a {
		margin: 0 1rem 0 0;

		@include respond-to('md') {
			margin: 0 0 0 1rem;
		}

		&:hover {
			img {
				filter: brightness(0) invert(1);
			}
		}

		img {
			width: 25px;
		}
	}
}

.footer-info {
	.email, .phone {
		font-size: 16px;
	}
}

#menu-footer-menu {
	li {
		height: auto;
		a {
			color: white;
			font-family: dm-sans-regular;
			font-size: 1rem;
			&:hover {
				text-decoration: none;
			}
		}		
	}
}

#menu-secondary-footer-menu {
	li {
		a {
			color: white;
		}
	}
}

// Mailchimp signup
#mc_embed_signup_scroll {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    @include respond-to('md') {
	    align-items: flex-end;
    }
    
    label {
	    font-family: dm-sans-bold;
	    text-transform: uppercase;
	    font-size: 1.25rem;
    }
    input[type='email'] {
	    font-family: dm-sans-regular;
	    margin-bottom: 1rem;
	    padding: 0.25rem 1rem;
    }
    input[type='submit'] {
	    font-family: dm-sans-regular;
	    color: white;
	    background-color: $navy;
	    border: 1px solid white;
	    border-radius: 2px;
	    padding: 0 2rem;
    }
}

.company-badges {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.company-badge {
		flex: 50%;
		padding: 0 1rem;

		img {
			width: 150px;
			height: 150px;
			margin: 0rem 2rem 1rem 0;
			object-fit: contain;
		}
	}
	.company-badge:last-of-type {
		margin: 0 0 1rem 0;
	}
}
