/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(8px);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(8px);
  }
}

.slide-bottom {
  animation: slide-bottom 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}


.slide-right {
  animation: slide-right 0.75s linear infinite alternate both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-15px);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-15px);
  }
}


.slide-left {
  animation: slide-left 0.75s linear infinite alternate both;
}

/**
 * ----------------------------------------
 * animation slide-left and flip
 * ----------------------------------------
 */
@-webkit-keyframes slide-left-flip {
  0% {
    transform: translateX(0) scaleX(-1);
  }
  100% {
    transform: translateX(-15px) scaleX(-1);
  }
}
@keyframes slide-left-flip {
  0% {
    transform: translateX(0) scaleX(-1);
  }
  100% {
    transform: translateX(-15px) scaleX(-1);
  }
}


.slide-left-flip {
  animation: slide-left-flip 0.75s linear infinite alternate both;
}
