@mixin highlight($imgPath) {
	background-image: url($imgPath);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 0 3rem;
	width: max-content;
	@include respond-to("md") {
		background-size: cover;
	}
}

.blog-link {
	.container {
		display: flex;
		justify-content: center;
		padding: 0 0 1rem 0;
		
		a {
			color: black;
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: transform 0.3s;
			text-align: center;
			
			&:hover {
				text-decoration: none;
				transform: scale(1.1);
				transition: transform 0.3s;

				.arrow-link__black, .arrow-link__white {
					animation: slide-right 0.75s linear infinite alternate both;
				}
			}
			
			p {
				font-size: 1.25rem;
				line-height: 1.2;
				font-family: 'dm-sans-bold';
				
				&.highlight-pink {
					@include highlight('../assets/graphics/highlight-bg-pink.svg');
				}	
				&.highlight-cyan {
					@include highlight('../assets/graphics/highlight-bg-cyan.svg');
				}
				&.highlight-green {
					@include highlight('../assets/graphics/highlight-bg-green.svg');
				}
				&.highlight-yellow {
					@include highlight('../assets/graphics/highlight-bg-yellow.svg');
				}			
			}
		}
	}
}

// Categories
#categories-dropdown {
	display: block;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include respond-to('lg') {
		display: none;
	}

	select {
		padding: 0.5rem;
	}

	span {
		padding: 0 0 0.5rem 0;
	}
}

#categories-tabs {
	padding: 1rem 0;
	display: none;

	@include respond-to('lg') {
		display: block;
	}
}

#bp-title {
	margin: 0 auto;

	@include respond-to('lg') {
		margin: inherit;
	}
}