@mixin highlight($imgPath) {
	background-image: url($imgPath);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 0 3rem;
	@include respond-to("md") {
		background-size: cover;
	}
}

.blog-link {
	.container {
		a {
			color: black;
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: transform 0.3s;
			text-align: center;
			
			&:hover {
				text-decoration: none;
				transform: scale(1.1);
				transition: transform 0.3s;

				.arrow-link__black {
					animation: slide-right 0.75s linear infinite alternate both;
				}
			}
			
			p {
				font-size: 1.25rem;
				line-height: 1.2;
				font-family: 'dm-sans-bold';
				
				&.highlight-pink {
					@include highlight('../assets/graphics/highlight-bg-pink.svg');
				}	
				&.highlight-cyan {
					@include highlight('../assets/graphics/highlight-bg-cyan.svg');
				}
				&.highlight-green {
					@include highlight('../assets/graphics/highlight-bg-green.svg');
				}
				&.highlight-yellow {
					@include highlight('../assets/graphics/highlight-bg-yellow.svg');
				}			
			}
		}
	}
}