form {
	padding: 1rem;
	margin-bottom: 1rem;
}

#searchform {
	padding: 0;
}

input[type='text'] {
	padding: 0.2rem 0.5rem;
}

.firestarters-newsletter-form {
	@include _dm-sans-regular;
	
	input[type="text"], input[type="email"] {
		margin: 0 1rem 0 0.5rem;
		height: 30px;
	}
}

.mc4wp-response {
	text-align: center;
	padding: 1rem 0 0;
}

.the-form {
	&__name-pronouns, &__org-email {
		display: flex;
		flex-direction: column;

		@include respond-to('md') {
			flex-direction: row;

			p:first-of-type {
				padding: 0 2rem 0 0;
			}
		}
	}
}