@mixin global-padding {
	padding: 3rem 1rem;
	@include respond-to('md'){
		padding: 3rem;
	}
	@include respond-to('xl'){
		padding: 3rem 10rem;
	}	
}

@mixin vertical-center {
	display: flex;
	align-items: center;
}

@mixin slant {
	padding: 10rem 1rem;
	@include respond-to('md'){
		padding: 10rem 5rem;
	}
	@include respond-to('lg'){
		padding: 10rem 10rem;
	}
	clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
}

@mixin slant-top {
	padding: 10rem 1rem 3rem 1rem;
	@include respond-to('md'){
		padding: 10rem 5rem 3rem 5rem;
	}
	@include respond-to('lg'){
		padding: 10rem 10rem 3rem 10rem;
	}
	clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);	
}

@mixin slant-bottom {
	padding: 4rem 1rem 9rem 1rem;
	@include respond-to('md'){
		padding: 4rem 5rem 9rem 5rem;
	}
	@include respond-to('lg'){
		padding: 4rem 10rem 9rem 10rem;
	}
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);	
}

.vertical-center {
	@include vertical-center;
}

.container {
	max-width: 1440px;
	padding: 0;
}

// COLORS ----
.bg-white {
	@include global-padding;
	background-color: white;
	color: $navy;
}

.bg-navy {
	@include global-padding;
	background-color: $navy;
	color: white;
	a {
		color: $pink;
	}
}

.bg-light-grey {
	@include global-padding;
	background-color: $light-grey;
	color: $navy;
}

.bg-light-grey-slant {
	color: $black;
	background-color: $light-grey;
	@include slant;
}

.bg-navy-slant {
	position: relative;
	color: white;
	background-color: $navy;
	@include slant;
}

.bg-navy-slant-top {
	color: white;
	background-color: $navy;
	@include slant-top;
}

.bg-light-grey-slant-top {
	color: white;
	background-color: $light-grey;
	@include slant-top;	
}