@mixin global-padding {
	padding: 3rem 1rem;
	@include respond-to('md'){
		padding: 3rem;
	}
	@include respond-to('xl'){
		padding: 3rem 10rem;
	}	
}

@mixin vertical-center {
	display: flex;
	align-items: center;
}

.vertical-center {
	@include vertical-center;
}

.container {
	max-width: 1440px;
	padding: 0;
}

.generic {
	@include global-padding;
	color: $navy;
}

.slant {
	padding: 10rem 1rem;
	@include respond-to('md'){
		padding: 10rem 5rem;
	}
	@include respond-to('lg'){
		padding: 10rem 10rem;
	}
	clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}

.slant-top {
	padding: 10rem 1rem 3rem 1rem;
	@include respond-to('md'){
		padding: 10rem 5rem 3rem 5rem;
	}
	@include respond-to('lg'){
		padding: 10rem 10rem 3rem 10rem;
	}
	clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}

.slant-bottom {
	padding: 4rem 1rem 9rem 1rem;
	@include respond-to('md'){
		padding: 4rem 5rem 9rem 5rem;
	}
	@include respond-to('lg'){
		padding: 4rem 10rem 9rem 10rem;
	}
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}

form {
	margin: 1rem 0; 
}

input[type='text'] {
	padding: 0.2rem 0.5rem;
}

// COLORS ----
.bg-white {
	background-color: white;
	color: $navy;
}

.bg-navy {
	background-color: $navy;
	color: white;
	a {
		color: $pink;
	}
}

.bg-light-grey {
	background-color: $light-grey;
	color: $navy;
}

.bg-slant {
	background-image: linear-gradient(176deg, white 12%, $light-grey calc(1% + 2px));
	@include respond-to('md') {
		background-image: linear-gradient(176deg, white 25%, $light-grey calc(1% + 2px));
	}
}