@mixin circle {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: inline;
	margin: -10px auto 0 auto;
	padding: 10px 0 0 0;
}

@mixin circle-2 {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	display: inline;
	margin: -10px auto 0 auto;
	padding: 10px 0 0 0;
}

@mixin underline {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	display: inline;
}

@mixin highlight {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	display: inline;
	padding: 4rem;
	text-shadow: none;
}

.circle {
	&-cyan-1 {
		@include circle;
		background-image: url('../assets/graphics/circle-cyan-1.svg');
	}
	&-cyan-2 {
		@include circle-2;
		background-image: url('../assets/graphics/circle-cyan-2.svg');
	}
	
	&-pink-1 {
		@include circle;
		background-image: url('../assets/graphics/circle-pink-1.svg');
	}
	&-pink-2 {
		@include circle-2;
		background-image: url('../assets/graphics/circle-pink-2.svg');
		
	}
	
	&-green-1 {
		@include circle;
		background-image: url('../assets/graphics/circle-green-1.svg');
	}
	&-green-2 {
		@include circle-2;
		background-image: url('../assets/graphics/circle-green-2.svg');
	}
	
	&-yellow-1 {
		@include circle;
		background-image: url('../assets/graphics/circle-yellow-1.svg');
	}
	&-yellow-2 {
		@include circle-2;
		background-image: url('../assets/graphics/circle-yellow-2.svg');
	}
	
}

.underline {
	&-cyan-1 {
		@include underline;
		background-image: url('../assets/graphics/underline-cyan-1.svg');	
	}
	&-cyan-2 {
		@include underline;
		padding-bottom: 0.5rem;
		background-image: url('../assets/graphics/underline-cyan-2.svg');	
	}
	
	&-pink-1 {
		@include underline;
		background-image: url('../assets/graphics/underline-pink-1.svg');	
	}
	&-pink-2 {
		@include underline;
		padding-bottom: 0.5rem;
		background-image: url('../assets/graphics/underline-pink-2.svg');	
	}
	
	&-green-1 {
		@include underline;
		background-image: url('../assets/graphics/underline-green-1.svg');	
	}
	&-green-2 {
		@include underline;
		padding-bottom: 0.5rem;
		background-image: url('../assets/graphics/underline-green-2.svg');	
	}
	
	&-yellow-1 {
		@include underline;
		background-image: url('../assets/graphics/underline-yellow-1.svg');	
	}
	&-yellow-2 {
		@include underline;
		padding-bottom: 0.5rem;
		background-image: url('../assets/graphics/underline-yellow-2.svg');	
	}
}

.highlight {
	&-cyan {
		@include highlight;
		background-image: url('../assets/graphics/highlight-bg-cyan.svg');
		color: $navy;
	}

	&-pink {
		@include highlight;
		background-image: url('../assets/graphics/highlight-bg-pink.svg');	
	}

	&-green {
		@include highlight;
		background-image: url('../assets/graphics/highlight-bg-green.svg');	
	}

	&-yellow {
		@include highlight;
		background-image: url('../assets/graphics/highlight-bg-yellow.svg');	
	}
}