.cs-intro-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	.cs-intro-left {
		flex-basis: 100%;
		text-align: center;
		ul {
			list-style: none;
			padding: 0;
			li {
				color: #9297A0;
				padding: 0.5rem 0;
			}
		}
		@include respond-to ('md') {
			flex-basis: 30%;
			text-align: left;
		}
	}
	.cs-intro-right {
		flex-basis: 100%;
		
		@include respond-to ('md') {
			flex-basis: 65%;
		}
		h2 {
			padding: 1rem 0;
		}
	}
}

.fcs-content-container {
	.wp-block-columns {
		margin-top: 28px;
		.wp-block-column {
			display: flex;
			flex-direction: column;
		}
	}	
}

.case-studies-block {
	padding: 3rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include respond-to ('lg') {
		padding: 5rem 10rem 1rem 10rem;
		display: block;
	}
}


// Service, Impact, Empathy

.sie-container {
	display: flex;
	justify-content: space-evenly;
	height: initial;
	flex-direction: column;
	@include respond-to ('md') {
		flex-direction: row;
		height: 300px;
	}
}

.sie-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	transform: translateY(0);
	@include respond-to ('md') {
		transform: translateY(-25%);
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			margin: 1rem 0;
			color: $green;
		}
	}
}

.sie-image {
	background-color: $light-grey;
	display: flex;
	flex-direction: column;
	padding: 2rem 4rem;
	align-items: center;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
	img {
		height: 125px;
	}
	h2 {
		margin-top: 2rem;
		font-size: 1.5rem;
	}
}

// Categories
.case-studies-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	flex-direction: column;
	@include respond-to('lg') {
		flex-direction: row;
	}
	.nav-tabs {
		border: none;
	}
	.tab-uncategorized {
		display: none;
	}
}

.cs-categories-list {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0;
	li {
		padding: 0 1rem 1rem 0;
		@include respond-to('lg') {
			padding: 0 1rem;
		}
		a {
			color: $navy;
			&.active, &:hover, &:after {
				text-decoration: underline;
				text-decoration-thickness: 4px;
				text-decoration-color: $pink;
				text-decoration-skip-ink: none;
			}
		}
	}
}

.tab-content {
	width: 100%;
}

.cs-pagination {
	background-color: $light-grey;
	padding: 1rem 0;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		li {
			a {
				color: $navy;
				padding: 1rem;
				font-weight: bold;
				margin: 0;
				&:hover, &.active {
					background-image:url('../assets/graphics/pagination-circle.svg');
					background-size: contain;
					text-decoration: none;
					background-repeat: no-repeat;
					background-position: center;
					padding: 1rem;
				}
			}
		}
	}
}

// MORE PROJECTS

.more-projects-header {
	display: flex;
	flex-direction: column;
	@include respond-to ('lg') {
		flex-direction: row;
	}
	.link {
		margin: 0 0 1rem 0;
		@include respond-to ('lg') {
			margin: 0 20% 0 0;
		}
	}
	a {
		color: $navy;
	}
}