.contact-header {
	border-bottom: 1px solid gray;
	padding-bottom: 1rem;
}

.contact-info {
	margin: 2rem 0;
	a {
		color: $navy;
	}
}

.contact-sm-icons {
	a {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 0.75rem;
		img {
			&:hover {
				filter: invert(97%) sepia(45%) saturate(5939%) hue-rotate(135deg) brightness(107%) contrast(92%);
			}
		}
	}
}

.contact-detail {
	margin-bottom: 1rem;
	p {
		font-size: 1rem;
		margin: 0;
	}
	@include respond-to('lg') {
		margin: 0;
	}
}

.contact-map {
	line-height: 0;
}

// FRIENDLY FACES

.friendly-faces {
	h2 {
		text-align: center;
	}
}

.ff-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include respond-to('md') {
		flex-direction: row;
	}
}

.ff-wrapper {
	display: flex;
	margin: 2rem 0 0 0;
	align-items: center;
	@include respond-to('md') {
		margin: 2rem 8rem 0 0;
	}
}

.ff-info {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 1rem;
	p {
		margin: 0;
	}
	.ff-social-media {
		display: flex;
		flex-direction: row;
		margin: 1rem 0 0 0;
		img {
			width: 20px;
			height: 20px;
			margin-right: 1rem;
			object-fit: contain;
			object-position: bottom;
		}
	}
	
}

// CONTACT FORM
.the-form {
	p, .form-group, .wpcf7 .wpcf7-form p {
		margin-bottom: 0;
		font-size: 1.2rem;
		.wpcf7-form-control-wrap {
			margin: 0.2rem;	
			input {
				width: 100%;
				border: 0;
				margin: 0.2rem 0;
				box-sizing: content-box;
				padding: 0;
				text-align: left;
				color: #7e7e7e;
				text-indent: 1rem;
			}
			input[type=checkbox] {
				width: auto;
			}
		}		
	}
}

.wpcf7 textarea {
	border: 0;
}

#your-consent {
	span {
		margin: 0;
	}
}

.submit-the-form {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}

.wpcf7 input[type="submit"] {
	background-color: $cyan;
	color: $navy;
	border: none;
	width: auto;
	font-weight: 600;
	font-size: 0.8rem;
}

.wpcf7 input:hover[type="submit"] {
	font-size: auto;
	background-color: $navy;
	color: white;
}


