.contact-header {
	border-bottom: 1px solid gray;
	padding-bottom: 1rem;
}

.contact-info {
	margin: 2rem 0;
	a {
		color: $navy;
	}
}

.contact-sm-icons {
	a {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 0.75rem;
	}
}

.contact-map {
	line-height: 0;
}

.users-container {
	display: flex;
	.user-profile {
		display: flex;
		flex-direction: column;
	}
}

/*-- FRIENDLY FACES --*/

.ff-wrapper {
	display: flex;
	margin: 2rem 8rem 0 0;
	align-items: center;
}

.ff-info {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 1rem;
	p {
		margin: 0;
	}
	.ff-social-media {
		display: flex;
		flex-direction: row;
		margin: 1rem 0 0 0;
		img {
			width: 20px;
			height: 20px;
			margin-right: 1rem;
			object-fit: contain;
			object-position: bottom;
		}
	}
	
}