$desktop-cta-height: 500px;
$mobile-cta-height: 400px;

.cta-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;	
	height: $mobile-cta-height;
	background-size: cover;
	@include global-padding;
	
	@include respond-to('md') {
		height: $desktop-cta-height;
		background-position: top;
	}
	
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include respond-to('md') {
			flex-direction: row;
			align-items: flex-start;	
		}
	}
	
	&.tertiary {
		height: 350px;
		background-size: 0px;
		@include respond-to('md') {
			background-color: $light-grey;
			background-position: bottom right;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	
	&.secondary {
		background-position: center;
	}
	
	&.video {
		position: relative;
		background: linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.6) 32%, rgba(255,255,255,0) 100%);
		video {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			z-index: -1;
		}
	}
	
	h1 {
		margin-bottom: 1rem;
		width: 100%;
	}
	
	p {
		margin-bottom: 2rem;
		width: 100%;
	}
	
	img {
		width: 50%;
	}
	
	&.none {
		background-color: transparent;
		h1, p {
			color: $navy;
		}
	}
	
	&.darken {
		background-blend-mode: multiply;
		@include darken;	
	}
	
	&.lighten {
		background-blend-mode: screen;
		@include lighten;
	}
	
	&.radial {
		background-blend-mode: multiply;
		@include radial;
	}	
}

.cta-content {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	a {
		width: max-content;
	}

	&.secondary {
		flex-basis: 40%;
		width: 50%;
		background-color: rgba(255,255,255,0.75);
		padding: 2rem;
	}
}