$desktop-cta-height: 500px;
$mobile-cta-height: 400px;

.cta-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;	
	height: $mobile-cta-height;
	background-size: cover;
	background-position: top center;
	@include global-padding;
	
	@include respond-to('md') {
		height: $desktop-cta-height;
		background-position: top;
	}
	
	&.tertiary {
		height: 200px;
		background-color: $light-grey;
		background-position: bottom center;
		background-size: contain;
		background-repeat: no-repeat;
		@include respond-to('md') {
			height: 350px;
			background-position: bottom right;
		}
	}
	
	&.secondary {
		background-position:center;
	}
	
	h1 {
		margin-bottom: 1rem;
		width: 100%;
		@include respond-to('md') {
			width: 50%;
		}
	}
	
	p {
		margin-bottom: 2rem;
		width: 100%;
		
		@include respond-to('md') {
			width: 50%;
		}
	}
	
	&.none {
		background: transparent;
		h1, p {
			color: $navy;
		}
	}
	
	&.darken {
		background-blend-mode: multiply;
		@include darken;	
	}
	
	&.lighten {
		background-blend-mode: screen;
		@include lighten;
	}
	
	&.radial {
		background-blend-mode: multiply;
		@include radial;
	}	
}

.cta-post-it {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 3rem 2rem;
	width: 100%;
	clip-path: polygon(83% 0, 100% 17%, 100% 100%, 0% 100%, 0% 0%);
	h1 {
		font-size: 1.8rem;
	}
	@include respond-to('md') {
		width: 350px;
		padding: 4rem 2rem;
	}
	h1, p {
		margin-bottom: 2rem;
		width: 100%;
	}
	h1 {
		font-size: 2rem;
	}
}