.icon-set {
	text-align: center;
}

.icon-set-container {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.three-columns {
	flex-basis: 100%;
	@include respond-to ('md') {
		flex-basis: 33%;
	}
}

.four-columns {
	flex-basis: 100%;
	@include respond-to ('md') {
		flex-basis: 25%;
	}
}

.five-columns {
	flex-basis: 100%;
	@include respond-to ('md') {
		flex-basis: 33%;
	}
	@include respond-to ('lg') {
		flex-basis: 20%;
	}	
}

.icon-set-wrapper {
	padding: 1rem 0;
	@include respond-to('lg') {
		padding: 3rem 0;
	}
	img {
		width: 150px;
		object-fit: contain;
		object-position: bottom;
		
		&.small {
			height: 75px;
		}
		
		&.medium {
			height: 100px;			
		}
		
		&.large {
			height: 150px;
		}
		
	}
	h5{
		margin: 2rem 0 0 0;
		padding: 0 2rem;
	}
	a {
		color: $navy;
	}
	p {
		padding: 0.5rem 2rem;
	}
}


.home .icon-set-wrapper img{
	object-position: center;

}

// STYLES
.style-grayscale {
	.icon-set-container {
		.icon-set-wrapper {
			a {
				img {
					filter: none;
					@include respond-to('lg') {
						filter: grayscale(1) opacity(0.75);
						transition: filter 0.5s;
						&:hover {
							filter: grayscale(0) opacity(1);
							transition: filter 0.5s;
						}						
					}

				}
			}
		}
	}
}

/*-- SERVICE PAGES --*/

@mixin highlight-hover($bg-image, $text-color) {
	a:hover {
		text-decoration: none;
		h5 {
			background-image: $bg-image;
			background-size: 75%;
			text-decoration: none;
			color: $text-color;
			background-repeat: no-repeat;
			background-position: center;				
		}
	}

}

.service-nav-page > .icon-set-wrapper {
	@include highlight-hover(url(../assets/graphics/highlight-bg-pink.svg), white);
}

.service-page > .icon-set-wrapper {
	@include highlight-hover(url(../assets/graphics/highlight-bg-cyan.svg), white);
}

