@mixin icon-size($height) {
	height: $height;
}

.icon-set {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.two-columns {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 50%;
	}
}

.three-columns {
	flex-basis: 100%;
	@include respond-to ('md') {
		flex-basis: 33%;
	}
}

.four-columns {
	flex-basis: 100%;
	@include respond-to ('md') {
		flex-basis: 25%;
	}
}

.five-columns {
	flex-basis: 100%;
	@include respond-to ('md') {
		flex-basis: 33%;
	}
	@include respond-to ('lg') {
		flex-basis: 20%;
	}	
}

// Global

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;

	&:hover {
		text-decoration: none;

		img, lottie-player {		
			transform: scale(1.15);
			transition: transform 0.5s;		
		}
	}

	@include respond-to('lg') {
		padding: 3rem 0;
	}
	
	&--small {
		@include icon-size(75px);
	}
	
	&--medium {
		@include icon-size(100px);
	}
	
	&--large {
		@include icon-size(150px);
	}
	
	img, lottie-player {
		transform: scale(1);
		transition: transform 0.5s;
		width: 150px;
		object-fit: contain;
		object-position: center;
	}
	
	&__caption {
		margin: 2rem 0 0 0;
		padding: 0 2rem;
		font-size: 1.3rem;
		line-height: 1.5rem;
		font-family: 'dm-sans-bold';
	}
	
	.button-navy {
		font-size: 0.8rem;
		padding: 0.75rem 1rem;
	}
}


.home .icon-set-wrapper img{
	object-position: center;

}

// STYLES
.style-grayscale {
	a {
		img {
			filter: none;
			@include respond-to('lg') {
				filter: grayscale(1) opacity(0.75);
				transform: scale(1);
				transition: filter 0.5s, transform 0.5s;

				&:hover {
					filter: grayscale(0) opacity(1);
					transform: scale(1.15);
					transition: filter 0.5s, transform 0.5s;
				}		
			}
		}
	}
}


/*-- SERVICE PAGES --*/

@mixin highlight-hover($bg-image, $text-color) {
	a:hover {
		text-decoration: none;
		h5 {
			background-image: $bg-image;
			background-size: 100%;
			text-decoration: none;
			color: $text-color;
			background-repeat: no-repeat;
			background-position: center;				
		}
	}

}

.service-nav-page > .icon-set-wrapper {
	@include highlight-hover(url(../assets/graphics/highlight-bg-pink.svg), black);
}

.service-page > .icon-set-wrapper {
	@include highlight-hover(url(../assets/graphics/highlight-bg-cyan.svg), black);
}

