@mixin arrow-link {
	height: 20px;
	width: 30px;
	display: inline-block;
	margin: 0 1rem;
	background-repeat: no-repeat;
	background-size: contain;
}

.link-block {
	position: relative;
	border-bottom: solid 2px $light-grey;
	text-align: right;
	padding: 1rem 1rem;
	min-height: 50px;

	@include respond-to('md') {
		padding: 1rem 5rem;
	}
	@include respond-to('lg') {
		padding: 1rem 10rem;
	}
	@include respond-to('xxl') {
		padding: 1rem 0rem;
	}		
	
	&__default {
		color: black;
		@include _dm-sans-bold;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		&:hover {
			.arrow-link__cyan, .arrow-link__black, .arrow-link__pink, .arrow-link__green, .arrow-link__yellow, .arrow-link__white {
          		animation: slide-right 0.75s linear infinite alternate both;
			}
		}
	}

	&__post-it {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-content: center;
		padding: 0.75rem;
		width: 125px;
		height: 125px;
		overflow: hidden;
		right: 10%;
		top: -30px;
		box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
		transform: rotate(-15deg);
		transition-property: transform;
		transition-duration: 0.25s;

		&:hover {
			text-decoration: none;
			transform: rotate(0deg);
			transition-property: transform;
			transition-duration: 0.25s;
		}

		p {
			font-size: 1rem;
			line-height: 1.5;
			text-align: center;
			margin: 0 0 0.5rem 0;
			font-family: 'permanent-marker', 'dm-sans';
		}

		@include respond-to('lg') {
			width: 150px;
			height: 150px;

			p {
				font-size: 1.25rem;
			}
		}

		&-yellow {
			background-color: $yellow;
		}

		&-cyan {
			background-color: $cyan;
		}

		&-pink {
			background-color: $pink;
		}

		&-green {
			background-color: $green;
		}
	}

	&__marker-arrow {
		height: 30px;
		width: 50px;
		display: inline-block;
		margin: 0 1rem;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url('../assets/graphics/cs-thumb-arrow.svg');
	}
}

.link {
	display: flex;
	align-items: center;

	.prev {
		margin: 0 1rem 0 0;
		transform:scaleX(-1);
	}

	&:hover {
		.prev {
			animation: slide-left-flip 0.75s linear infinite alternate both;
		}
	}
}

	
.arrow-link__cyan {
	@include arrow-link;
	background-image: url('../assets/graphics/arrow-link-cyan.svg');
}

.arrow-link__black {
	@include arrow-link;
	background-image: url('../assets/graphics/arrow-link-black.svg');
}

.arrow-link__white {
	@include arrow-link;
	background-image: url('../assets/graphics/arrow-link-white.svg');
}

.arrow-link__pink {
	@include arrow-link;
	background-image: url('../assets/graphics/arrow-link-pink.svg');
}

.arrow-link__green {
	@include arrow-link;
	background-image: url('../assets/graphics/arrow-link-green.svg');
}

.arrow-link__yellow {
	@include arrow-link;
	background-image: url('../assets/graphics/arrow-link-yellow.svg');
}


