.page-links-block {
	text-align: center;
	a {
		color: $navy;
		h3 {
			margin: 2rem 0;
		}
	}
}

.plb-icon {
	height: 100px;
	width: 100px;
	object-fit: contain;
}

.plb-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	
	.plb-wrapper {
		flex-basis: 100%;
		padding: 2rem 0;
		@include respond-to('md'){
			flex-basis: 33%;
		}
	}
}