.entry-title {
	padding-bottom: 1rem;
	border-bottom: 1px solid gray;
}

.entry-content {
	p {
		margin: 1rem 0 2rem 0;
	}
	h2 {
		font-size: 1.5rem;
	}
	img {
		margin: 2rem 0;
	}
}

.site-main, .post {
	a {
		color: $pink;
	}
}

.take-back {
	margin: 1rem 0;
	display: flex;
	align-items: center;
	&:before {
		background-image:url('../assets/graphics/arrow-link-pink.svg');
		background-repeat:no-repeat;
		background-size: contain;
		background-position: center;
		content:"";
		height: 15px;
		width: 30px;
		margin-right: 5px;
		transform: scaleX(-1);
		display: inline-block
	}
}