article {
	padding: 0rem 1rem;
	@include respond-to('md'){
		padding: 0rem 3rem;
	}
	@include respond-to('lg'){
		padding: 0rem 8rem;
	}	
}

.entry-title {
	padding-bottom: 1rem;
	border-bottom: 1px solid gray;
}

.entry-content {
	p {
		margin: 1rem 0 2rem 0;
	}
	img {
		margin: 2rem 0;
	}
}

.site-main, .post {
	a {
		color: $pink;
	}
}

.take-back {
	margin: 1rem 0;
	display: flex;
	align-items: center;
	&:before {
		background-repeat:no-repeat;
		background-size: contain;
		background-position: center;
		content:"";
		height: 15px;
		width: 30px;
		margin-right: 5px;
		transform: scaleX(-1);
		display: inline-block
	}
	
	&.pink {
		color: $pink;
		&:before {
			background-image:url('../assets/graphics/arrow-link-pink.svg');
		}
	}
	&.cyan {
		color: $cyan;
		&:before {
			background-image:url('../assets/graphics/arrow-link-cyan.svg');
		}		
	}
	&.green {
		color: $green;
		&:before {
			background-image:url('../assets/graphics/arrow-link-green.svg');
		}		
	}
	&.yellow {
		color: $yellow;
		&:before {
			background-image:url('../assets/graphics/arrow-link-yellow.svg');
		}		
	}
}

.wp-block-column {
	ul {
		padding: 0 1rem;
		li::marker, li::before {
			color: gray;
		}
	}
}

.wp-block-image img {
	object-fit: cover;
	margin-bottom: 2rem;
}

/*-- HERO --*/
$post-hero-height-small: 200px;
$post-hero-height-large: 500px;

.post-hero-container {
	width: 100%;
	position: relative;
}

.post-hero-filter {
	position: absolute;
	height: $post-hero-height-small;
	width: 100%;
	&.none {
		@include none;
	}
	&.darken {
		@include darken;
	}
	&.light-radial {
		@include light-radial;
	}
	&.dark-radial {
		@include dark-radial;
	}
	@include respond-to('lg') {
		height: $post-hero-height-large;
	}
}

.post-hero {
	width: 100%;
	height: $post-hero-height-small;
	background-size: cover;
	margin: 0 0 2rem 0;
	@include respond-to('lg') {
		height: $post-hero-height-large;
	}
}

/*-- USER META --*/
.entry-meta {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	flex-direction: column;
	align-items: center;
	@include respond-to('md') {
		flex-direction: row;
		align-items: flex-start;
	}
}

.author-meta {
	display: flex;
}

.author-avatar {
	img {
		border-radius: 50%;
	}
}

.meta-info {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
}

.usm-wrapper {
	display: flex;
	img {
		width: 15px;
		margin: 0 0.5rem 0 0;
	}
}

/*-- CATEGORIES --*/

.post-categories {
	list-style-type: none;
	display: inline;
	
}

/*-- SHARING --*/
.jetpack-sharing {
	display: none;
	&:last-of-type {
		display: block;
	}
}

@mixin share-btn {
	width: 25px;
	height: 25px;
	display: inline-flex;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.share-btns {
	.sd-content {
		display: inline-flex;
		align-items: center;
		ul {
			margin: 0 !important;
			li {
				margin: 0;
			}
		}
	}
	// Twitter
	.sd-social-icon .sd-content ul li[class*="share-"].share-twitter a.sd-button {
		background-color: transparent;
	}
	
	.sd-social-icon .sd-content ul li.share-twitter a::before {
		content: none;
	}
	
	li.share-twitter a.sd-button {			
		span {
			@include share-btn;
			background-image: url('../assets/social-media/twitter-pink.png');
		}
	}
	
	//Linkedin
	.sd-social-icon .sd-content ul li[class*="share-"].share-linkedin a.sd-button {
		background-color: transparent;
	}
	
	.sd-social-icon .sd-content ul li.share-linkedin a::before {
		content: none;
	}
			
	li.share-linkedin a.sd-button {						
		span {
			@include share-btn;
			background-image: url('../assets/social-media/linkedin-pink.png');				
		}
	}
	
	.share-icon {
		width: 25px;
		height: 25px;
	}
}

