$fcs-mobile-height: 600px;
$fcs-desktop-height: 400px;

@mixin quote-img {
	padding: 0 1rem;
	height: 25px;
	width: 20px;
	content: "";
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: top center;
	display: inline-block;
}

.fcs-content, .cs-content {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 2rem 0;
	color: white;
	filter: brightness(100%);
	h3, h2 {
		margin-bottom: 2rem;
		&:before {
			@include quote-img;
			background-image: url("../assets/graphics/left-quote.svg");
		}
		&:after {
			@include quote-img;
			background-image: url("../assets/graphics/right-quote.svg");
		}
	}
}

.cs-content {
	width: 100%;
	@include respond-to('lg') {
		width: 50%;
	}
}

.fcs-quote-block, .cs-quote-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;	
	background-blend-mode: darken;
	background-color: rgba(0,0,0,0.5);
		
	@include respond-to('md') {
		padding: 3rem 5rem;
	}
	@include respond-to('lg') {
		padding: 2rem 5rem;
	}
}


/* -- POST QUOTE -- */
.wp-block-quote {
	text-align: center;
	border-top: 1px solid $pink;
	border-bottom: 1px solid $pink;
	margin: 2rem 0;
	padding: 1rem 1rem;
	@include respond-to('md'){
		padding: 2rem 0 3rem 0;
	}
	
	
	p {
		color: $pink;
		font-size: 2rem;
		margin: 0;
		&:before {
			@include quote-img;
			background-image: url("../assets/graphics/left-quote-pink.svg");
		}
		&:after {
			@include quote-img;
			background-image: url("../assets/graphics/right-quote-pink.svg");
		}
	}
	cite {
		font-style: normal;
	}
}