.carousel-item {
	text-align: center;
	padding: 0 1rem;
	height: 500px;
	overflow: hidden;
	
	&.small {
		height: 350px;
		@include respond-to('md') {
			height: 300px;
		}
	}
	
	&.medium {
		height: 450px;
		@include respond-to('md') {
			height: 400px;
		}		
	}
	
	&.large {
		height: 550px;
		@include respond-to('md') {
			height: 500px;
		}		
	}

	@include respond-to ('md') {
		padding: 10% 3rem;
		height: 400px;
	}
	@include respond-to ('lg') {
		padding: 2% 3rem;
		height: 350px;
	}
	
	.testimonial-block {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.carousel-control-next, .carousel-control-prev {
	opacity: 1;
}

.carousel-control  {
	width: 50px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	
	&.white {
		background-image: url('../assets/graphics/arrow-link-white.svg');
	}
	
	&.pink {
		background-image: url('../assets/graphics/arrow-link-pink.svg');
	}
	
	&.cyan {
		background-image: url('../assets/graphics/arrow-link-cyan.svg');
	}
	
	&.green {
		background-image: url('../assets/graphics/arrow-link-green.svg');
	}	

	&.yellow {
		background-image: url('../assets/graphics/arrow-link-yellow.svg');
	}
	
	&.prev-icon {
		transform: scaleX(-1);
	}
	
}

.quote-icon {
	padding: 0 0 1rem 0;
	height: 50px;
}

.testimonial-quote {
	padding: 0 3rem;
	font-size: 1rem;
	@include respond-to ('lg') {
		padding: 0 5rem;
		font-size: 1.2rem;
	}
}

.testimonial-citation {
	font-size: 1rem;
	@include respond-to ('lg') {
		font-size: 1.2rem;
	}
}